<launch>
    <!-- 定义一个参数传递给节点 -->
    <arg name="octomap_file" default="$(find esdf_map_generator)/octo_binary/octomap.bt" />
    <!-- 启动 esdf_map_generator_node 并传递参数 -->
    <node name="esdf_map_generator_node" pkg="esdf_map_generator" type="esdf_map_generator_node" output="screen">
        <param name="octomap_file" value="$(arg octomap_file)" />
    </node>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find esdf_map_generator)/rviz/esdf_gen.rviz" ></node>

  </launch>
